[submodule "lib/PCA9685"]
	path = lib/PCA9685
	url = git@github.com:adafruit/micropython-adafruit-pca9685.git
[submodule "lib/BNO055"]
	path = lib/BNO055
	url = git@github.com:micropython-IMU/micropython-bno055.git
[submodule "lib/micropython"]
	path = lib/micropython
	url = git@github.com:micropython/micropython.git
[submodule "lib/micropygps"]
	path = lib/micropygps
	url = git@github.com:inmcm/micropyGPS.git
[submodule "lib/rbs-tui-dom"]
	path = lib/rbs-tui-dom
	url = git@github.com:ballon-rouge/tui-dom.git
